services:
  mongo:
    image: mongo:7
    container_name: fans_mongo
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: rootpass
    volumes:
      - mongo_data:/data/db

  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    container_name: fans_api
    restart: unless-stopped
    environment:
      PORT: 3001
      MONGO_URI: mongodb://root:rootpass@mongo:27017/yourdb?authSource=admin
      AUTH_API_KEY: admin
      JWT_ACCESS_SECRET: super-secret-jwt-key
      JWT_EXPIRES: 30m
    ports:
      - "3001:3001"
    depends_on:
      - mongo

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: fans_frontend
    restart: unless-stopped
    environment:
      VITE_API_URL: http://localhost:3001/api/v1
    ports:
      - "5173:5173"
    depends_on:
      - api

volumes:
  mongo_data:
