services:
  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=rootpass
  
  api:
    build: .
    ports:
      - "3001:3001"
    depends_on:
      - mongo
    env_file:
      - .env

volumes:
  mongo_data:
    